body {
    background-color: #C7C7C7;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: solid;
    margin: 0 auto;
    background-color: #3A506B;
    border-color: black;
}

.navbar nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#SAMEERHAQ {
    width: 80vh;
    height: 20vh;
    border-radius: 50px;
    overflow: hidden;
}

#SAMEERHAQ #tooltip {
    position: absolute;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 14px;
    display: none;
    z-index: 10;
}

#keywords {
    padding: 10px;
    border-style: solid;
    border-color: black;
    width: 50%;
    margin: 0 auto;
}

#aboutme {
    border-style: solid;
    border-color: black;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    height: 300px;
}

#pinned {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#pinned p {
    border-style: solid;
    border-color: black;
    width: 200px;
    height: 200px;
}

#timeline {
    border-style: solid;
    border-color: black;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    height: 200px;
}

footer {
    border-style: solid;
    border-color: black;
    margin: 0 auto;
    justify-content: center;
    height: 100px;
}