@use "../components/navbarbackground";
@use "../components/footer";

body {
    background-color: #1b1b1b;
    color: #ffffff;
    margin: 0;
    min-height: 100vh; /*Full height of the viewport.*/
    position: relative;
    z-index: 0; /*Sets the stacking order for the body.*/
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}

#title {
    display: flex;
    padding: 10px;
    border-style: solid;
    border-color: #ffffff;
    width: 25%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
}

#certificates {
    display: flex;
    padding: 100px;
    border: 4px solid #ffffff;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    .sections {
        width: 100%;
        border: 4px solid black;
        padding: 30px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .title {
        font-size: 50px;
        border-bottom: 4px solid blue;
        margin-bottom: 20px;
    }
}

#certificates p, #certificates .sections p {
    margin: 0;
    padding-top: 0px;
    width: 100%;
    padding: 0;
    text-align: left;
    box-sizing: border-box;
    /*justify-content: center;*/
    /*align-items: center;*/
}

@media screen and (max-width: 800px) {
    #title {
        font-size: 15px;
    }

    #certificates {
        width: 70vw;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;

        .title {
            font-size: 30px;
        }
        
        .sections {
            padding: 10px;
            font-size: 15px;
            ul {
                padding-left: 15px;
                margin-left: 0px;
            }
            li {
                margin-left: 0px;
            }
        }
    }
}