@use "../components/navbarbackground";
@use "../components/footer";

body {
    background-color: #1b1b1b;
    color: #ffffff;
    margin: 0;
    min-height: 100vh; /*Full height of the viewport.*/
    position: relative;
    z-index: 0; /*Sets the stacking order for the body.*/
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}

#title {
    display: flex;
    padding: 10px;
    border-style: solid;
    border-color: #ffffff;
    width: 25%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
}

#socialsection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    margin: 0 auto;
    background-color: #ffffff;
    height: 20vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

img {
    width: 110px;
    height: 110px;
}

#thm_id {
    max-height: 100%;
    width: auto;
}

img:hover {
    cursor: pointer;
}

#form {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    height: 600px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
}

#form {
    label {
        display: flex;
        font-size: 20px;
        flex-direction: column;
    }
    input {
        height: 30px;
        margin-bottom: 5px;
    }
    textarea {
        height: 200px;
    }
    button {
        display: flex;
        background-color: blue;
        width: 100px;
        font-size: 30px;
        height: 40px;
        border-radius: 40px;
        margin: 0 auto;
        justify-content: center;
        color: white;
        margin-top: 10px;
        border: none;
        box-shadow: 0px 5px 10px black;
    }
}

@media screen and (max-width: 1100px) {
    #title {
        font-size: 25px;
    }

    #socialsection {
        width: 45vw;
        height: 15vh;
    }

    img {
        width: 50px;
        height: 50px;
    }

    img:hover {
        cursor: pointer;
    }

    h1 {
        font-size: 20px;
    }

    #form {
        display: flex;
        height: 60vh;
        flex-direction: column;
        padding-left: 2px;
        padding-right: 2px;
        width: 80vw;
        input {
            width: 70vw;
        }
        textarea {
            height: 150px;
            width: 70vw;
        }
    }

    footer {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    #title {
        font-size: 15px;
    }

    #socialsection {
        width: 90vw;
        .row {
            gap: 0px;
        }
    }

    #img {
        width: 30px;
        height: 30px;
    }

    #form {
        input {
            width: 225px;
            height: 20px;
        }
        textarea {
            width: 225px;
            height: 100px;
        }
    }

    footer {
        font-size: 15px;
        text-align: center;
    }
}