@use "../components/navbarbackground";
@use "../components/footer";

body {
    background-color: #1b1b1b;
    color: #ffffff;
    margin: 0;
    min-height: 100vh; /*Full height of the viewport.*/
    position: relative;
    z-index: 0; /*Sets the stacking order for the body.*/
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}

#title {
    display: flex;
    padding: 10px;
    border-style: solid;
    border-color: #ffffff;
    width: 25%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
}

#resume {
    display: flex;
    padding: 20px;
    border-style: solid;
    border-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    height: 1200px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    #title {
        font-size: 15px;
    }

    #resume {
        max-width: 40vh;
        max-height: 60vh;
    }
}